{% extends "skeleton.twig" %}

{% block title %}Moje příspěvky{% endblock %}

{% block content %}
    <p>
        <a href="{{ router.buildPath('postsAuthoring', 'add') }}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Přidat příspěvek</a>
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Název</th>
                <th>Abstrakt</th>
                <th>Hodnocení</th>
                <th>Stav</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.getTitle() }}</td>
                    <td>{{ post.getAbstract() }}</td>
                    <td><span title="Originalita">{{ post.getMarkOriginality() }}</span> <span title="Gramatika">{{ post.getMarkGramar() }}</span> <span title="Téma">{{ post.getMarkTopic() }}</span></td>
                    <th>{% if post.getApproved() is null %}Nerozhodnuto{% elseif post.getApproved() %}Schváleno{% else %}Zamítnuto{% endif %}</th>
                    <td>
                        <a href="{{ router.buildPath('postsAuthoring', 'download', {"post_id": post.getPostId()}) }}" class="btn btn-primary"><span class="glyphicon glyphicon-download"></span> Stáhnout PDF</a>
                        <a href="{{ router.buildPath('postsAuthoring', 'edit', {"post_id": post.getPostId()}) }}" class="btn btn-info"><span class="glyphicon glyphicon-edit"></span> Upravit</a>
                        <form style="display: inline-block;" method="post" action="{{ router.buildPath('postsAuthoring', 'delete') }}">
                            <input type="hidden" name="post_id" value="{{ post.getPostId() }}" >
                            <button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Smazat</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
